@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f5f7;
}

input {
  border: 1px solid #e0e7ff;
  background: rgba(224, 231, 255, 0.2);
  border-radius: 6px;
  margin-top: 10px;
}
